.tweet-card {
  border-width: 1px;
  border-color: $tweet-card-border-color;
  height: 150px;
  padding: 10px;

  .tweet-card-header{
        
    .tweet-card-image {
      float: left;
      margin-right: 20px;
    }

    .span-block {
      display: block;

      &.tweet-name {
        font-size: 15px;
        font-weight: 800;
        color: black;
      }

      &.tweet-user {
        font-size: 14px;
        color: blue;
      }
    }
  }
}