.tweet-card {
  background-color: white;
  height: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: groove;
  border-color: $tweet-container-background-color;

  .tweet-card-header{
        
    .tweet-card-image {
      float: left;
      margin-right: 20px;
    }

    .span-block {
      display: block;

      &.tweet-name {
        font-size: 15px;
        font-weight: 800;
        color: black;
      }

      &.tweet-user {
        font-size: 14px;
        color: blue;
      }
    }
  }
}